ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type none;
   }
   
   ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
   }
   
   ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
   ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
   ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
   ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
   ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
   ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
   ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
   ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }
   
   ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 7px solid yellowgreen;
   }
   
    ol.progtrckr li.progtrckr-error {
    color: black;
    border-bottom: 7px solid red;
   }


   ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 7px solid silver;
   }
   
   ol.progtrckr li.progtrckr-current {
    color: black;  
    font-weight:bold;
    border-bottom: 7px solid #EEDB00;
   }
   
   ol.progtrckr li:after {
    content: "\00a0\00a0";
   }
   ol.progtrckr li:before {
    position: relative;
    bottom: -2em;
    float: left;
    left: 50%;
    line-height: 1em;
   }
   ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
   }
   
   ol.progtrckr li.progtrckr-current:before {
    content: url(../ajax-loader2.gif);
    color: #EEDB00;
    background-color: #EEDB00;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.84em;
    border: none;
    border-radius: 2.2em;
   }
   
   ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: white;
    background-color: white;
    height: 1.2em;
    width: 1.2em;
    border: 0.5em solid silver;
    border-radius: 2.2em;
   }


   
   ol.progtrckr li.progtrckr-error:before {
    content: "x";
    font-weight:bold;
    color: white;
    background-color: red;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
   }

   #error {
    margin-top:50px;
    color:red;
   }



.checkboxtext {
 position: relative;
 padding: 9px;
 font-size: 110%;
 display: inline-block;
 bottom: 12px;
}

label {
  display: inline;
}

.regular-checkbox {
  display: none;
}

.regular-checkbox + label {
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}


.big-checkbox + label {
  padding: 12px;
}

.big-checkbox:checked + label:after {
  font-size: 22px;
  color: #51a351;
  left: 3px;
  top:3px;
}
