{% extends "layout.html" %}

{% block body %}
 <div class="jumbotron">
        <form action="{{url_for('check')}}" method="post">
        <h2>Check your cookies</h2>
        <br />
        <p class="lead">
            Domain: http://<input placeholder="example.com" type="text" name="domain" />
        </p>
        
        <input id="cb" type="checkbox" class="regular-checkbox big-checkbox" checked="checked" name="public" value="yes" />
        <label for="cb"></label>
        <span class="checkboxtext">Make results public (show them under History tab)</span>
<br /><br />
        <input type="submit" class="btn btn-large btn-success" value="Check" />
      </div>

      
{% endblock %}
